.header {
    margin: 0;
    padding: 0rem 0.5rem;
    background-color: hsl(200, 100%, 50%);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 14vh;
    top: -12vh;
    opacity: 0%;
    transition: 1s;
}

.header:hover {
    transition: 1s;
    opacity: 100%;
    top: 0vh;
    padding-bottom: 0.5vh;
    
}


a {
    background-color: transparent;
}

.navbtn {
    font-size: calc(10px + 0.5vh);
    color: white;
    margin: 0.5rem;
    padding: 0.5rem calc(0.5rem + 5vw);
    background-color: hsl(210, 100%, 50%);
    border-radius: 10%;
    border: none;
    transition: 1s;
}

.navbtn:hover {
    color:hsl(210, 100%, 50%);
    background-color: white;
    transition: 800ms;

}

.navbtn:active {
    border: black solid 1px;
}