.header {
    text-align: center;
    background-color: hsl(200, 100%, 50%);
}

.numBtn {
    font-size: medium;
    background-color: transparent;
    width: 95%;
    padding: 0.5vw;
    border: black solid 1px;
    border-radius: 10%;
    position: relative;
    bottom: 3vh;
}

.buyBut {
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: hsl(210, 100%, 50%);
    border-radius: 10%;
    border: none;
    width: 10vw;
    font-size: large;
    position: relative;
    bottom: 15%
}

.buyBut:hover {
    color:hsl(210, 100%, 50%);
    background-color: white;
}

.buyBut:active {
    border: 1px solid black

}

.grid {
    display: grid;
    align-self: center;
    margin: 1vw 10vw;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

 .grid div {
    border: solid 1px black;
    border-radius: 5%;
    padding: 10px;
}

 .content {
    margin: 1vw; 
    font-size: 1vw;  
}

 .link {
    text-decoration: none;
    position: relative;
    color: black;
    background-color: hsl(190, 100%, 80%);
    border-radius: 10%;
    bottom: 20%;
    left: 2%;
}

 .link:hover {
    color:hsl(210, 100%, 50%);
    background-color: white;
}

 .grid img {
    border-radius: 5%;
    width: 10vw;
    border: 1px solid black;
}


.list ul {
    padding: 10px;
}