 .header {
    text-align: center;
    background-color: hsl(200, 100%, 50%);
}

.buyBut {
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: hsl(210, 100%, 50%);
    border-radius: 10%;
    border: none;
}

.buyBut:hover {
    color:hsl(210, 100%, 50%);
    background-color: white;
}

.buyBut:active {
    border: 1px solid black

}

 .grid {
    display: grid;
    align-self: center;
    margin: 1vw 10vw;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

 .grid div {
    border: solid 1px black;
    border-radius: 5%;
    padding: 10px;
}

 .content {
    margin: 1vw;   
}

.gridvaccum img {
    border-radius: 5%;
    content: url(/src/image/vaccum.png);
    width: 20vw;
    border: 1px solid black;
}

.gridbroom img {
    border-radius: 5%;
    content: url(/src/image/broom.png);
    width: 20vw;
    border: 1px solid black;
}

.griddishwasher img {
    border-radius: 5%;
    content: url(/src/image/dishwasher.png);
    width: 20vw;
    border: 1px solid black;

}

.gridlaundry img {
    border-radius: 5%;
    content: url(/src/image/laundry.png);
    width: 20vw;
    border: 1px solid black;
}

.gridlawn img {
    border-radius: 5%;
    content: url(/src/image/lawn.png);
    width: 20vw;
    border: 1px solid black;

}

.gridhose img {
    border-radius: 5%;
    content: url(/src/image/hose.png);
    width: 20vw;
    border: 1px solid black;

}
    
